{{> nav}}
<section class="section">
    <div class="container">
        <div class="columns is-variable is-8">

            {{!-- Picture Of CV --}}
            <div class="column">
                <canvas id="pdf-canvas" class="canvas-pdf" style="border-radius: 5px; border: solid 0.5px hsl(0, 0%, 92%)"></canvas>
                <div id="page-buttons"></div>
                <div class="button-combo" style="display: flex;">
                    <a href="/community/resume/edit/{{resume.id}}">
                        <small>
                            Edit
                        </small>
                    </a>
                    <a href="/community/resume/delete/{{resume.id}}">
                        <small>
                            Delete
                        </small>
                    </a>
                </div>
                <script>
                    $(document).ready(function () {
                        pdfjsLib.getDocument('{{resume.path}}')
                            .then((doc) => {
                                if (doc._pdfInfo.numPages > 1) {
                                    for (var i = 1; i < doc._pdfInfo.numPages + 1; i++)
                                        $('#page-buttons').append(`<button id="page-${i}" class="page-button button">${i}</button>`)
                                }
                                getPage(1)
                            })
                    })
                    $(document).on('click', '.page-button', function (event) {
                        var pageNumber = parseInt(event.target.id.replace(/[^0-9.]/g, ''))
                        getPage(pageNumber)
                    })
                    function getPage(pageNumber) {
                        pdfjsLib.getDocument('{{resume.path}}')
                            .then((doc) => {
                                doc.getPage(pageNumber).then((page) => {
                                    var myCanvas = document.getElementById("pdf-canvas")
                                    var context = myCanvas.getContext("2d")

                                    var viewport = page.getViewport(1);
                                    myCanvas.width = viewport.width;
                                    myCanvas.height = viewport.height;

                                    page.render({
                                        canvasContext: context,
                                        viewport: viewport
                                    })
                                })
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                    }
                </script>
            </div>

            {{!-- CV Details and Information --}}
            <div class="column">
                <p class="content">
                    <h1 class="title is-1 is-spaced">
                        {{resume.title}}
                    </h1>
                    <h4 class="title is-4">
                        Description:
                    </h4>
                    <p class="subtitle">
                        {{resume.feedbackDescription}}
                    </p>

                    <hr class="hr" style="color: white">

                    <h4 class="title is-4">
                        Type of help:
                    </h4>
                    <p class="subtitle">
                        {{resume.feedbackTypes}}
                    </p>



                    {{#if loggedUser}}
                    <div class="button-combo" style="display: flex;">
                        <a href="/community/resume/edit/{{resume.id}}">
                            <small>
                                Edit
                            </small>
                        </a>
                        <a href="/community/resume/delete/{{resume.id}}">
                            <small>
                                Delete
                            </small>
                        </a>
                    </div>
                    {{/if}}

                    <div class="button-combo" style="display: flex">
                        <a class="button is-light" href="{{resume.path}}">
                            <span class="icon">
                                <i class="fas fa-download"></i></i>
                            </span>
                            <span>Download PDF</span>
                        </a>
                        <a target="_blank" class="button is-light" href="/community/resume/show?path={{resume.path}}">
                            <span class="icon">
                                <i class="fas fa-search-plus"></i>
                            </span>
                            <span>Preview</span>
                        </a>
                    </div>
                </p>

                <hr class="hr" style="margin: 6% 0px">
                {{!-- Write comment --}}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="/img/avatars/avatar-{{avatarNumber}}.svg">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                <form action="/community/resume/details/{{resume.id}}/comment" method="POST">
                                    <textarea name="text" rows="2" class="textarea" placeholder="Add a comment..."></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="contol">
                                <button type="submit" class="button">Post comment</button>
                                </form>
                            </p>
                        </div>
                    </div>
                    <br>
                </article>
                {{!-- Comments --}}
                {{#each comments}}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="/img/avatars/avatar-{{this.user.avatarNumber}}.svg">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{this.user.firstName}} {{this.user.lastName}}</strong>
                                <div class="toggle{{this.id}}">
                                    {{this.text}}
                                    <br>
                                </div>
                                <div class="toggle{{this.id}} hidden">
                                    <form action="/community/resume/editComment/{{this.id}}" method="POST">
                                        <textarea name="text" rows="2" class="textarea" placeholder="Add a comment...">{{this.text}}</textarea><br>
                                        <button class="button">Update Comment!</button>
                                    </form>
                                    {{!-- <small><a>Like</a> · <a>Reply</a> · 3 hrs</small> --}}
                                </div>
                                {{#if this.myComment}}
                                <small>
                                    <a id="edit{{this.id}}" id="edit{{this.id}}">
                                        edit
                                    </a>
                                    <a href="/community/resume/deleteComment/{{this.id}}">
                                        delete
                                    </a>
                                </small>
                                {{!--
                                <button id="edit{{this.id}}" class="button is-dark">
                                    edit
                                </button>
                                <a href="/community/resume/deleteComment/{{this.id}}">
                                    <button class="button is-dark">
                                        Delete
                                    </button>
                                </a> --}}
                                {{/if}}
                                <br>
                                <script>
                                    $("#edit{{this.id}}").click(() => {
                                        $('.toggle{{this.id}}').toggleClass('hidden');
                                    });
                                </script>
                            </p>
                        </div>
                    </div>
                </article>
                {{/each}}
            </div>


        </div>




    </div>
</section>