<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="content">
                    <h1 class="title">{{resume.title}}</h1>
                    <strong>Description:</strong> <br>
                    {{resume.feedbackDescription}} <br><br>
                    <strong>Type of help:</strong> <br>
                    {{resume.feedbackTypes}}
                    <br><br>
                    <a href="/community/resume/edit/{{resume.id}}">
                        <button class="button is-primary">
                            Edit
                        </button>
                    </a>
                </p>
            </div>
            <div class="column">
                <canvas id="pdf-canvas" class="canvas-pdf"></canvas>
            </div>
        </div>
        <script>
            pdfjsLib.getDocument('{{resume.path}}')
                .then((doc) => {
                    doc.getPage(1).then((page) => {
                        var myCanvas = document.getElementById("pdf-canvas")
                        var context = myCanvas.getContext("2d")

                        var viewport = page.getViewport(1);
                        myCanvas.width = viewport.width;
                        myCanvas.height = viewport.height;

                        page.render({
                            canvasContext: context,
                            viewport: viewport
                        })
                    })
                })
                .catch((err) => {
                    console.log(err)
                })
        </script>
        <br><br><br>
        <hr><br><br><br>
        {{!-- Write comment --}}
        <article class="media">
            <figure class="media-left">

                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <form action="/community/resume/details/{{resume.id}}/comment" method="POST">
                            <textarea name="text" rows="2" class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="contol">
                        <button type="submit" class="button">Post comment</button>
                        </form>
                    </p>
                </div>
            </div>
            <br>
        </article>
        {{!-- Comments --}}
        {{#each comments}}
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{this.user.firstName}} {{this.user.lastName}}</strong>
                        <div class="commentToggle">
                            {{this.text}}
                            <br>
                        </div>
                        <div class="commentToggle hidden">
                            <form action="/community/resume/editComment/{{this.id}}" method="POST">
                                <textarea name="text" rows="2" class="textarea"
                                    placeholder="Add a comment...">{{this.text}}</textarea><br>
                                <button class="button">Update Comment!</button>
                            </form>
                            {{!-- <small><a>Like</a> · <a>Reply</a> · 3 hrs</small> --}}
                        </div>
                        <br>

                        <button id="editCommentButton" class="button is-dark">edit</button>
                        <script>
                            $("#editCommentButton").click(() => {
                                $('.commentToggle').toggleClass('hidden');
                            });
                        </script>
                    </p>
                </div>
            </div>
        </article>
        {{/each}}
    </div>
</section>