{{> nav}}
<section class="section">
    <div class="container">
        <h1 class="title is-spaced">
            Create the best CVs together
        </h1>
        <h2 class="subtitle">
            Receive feedback on your resume and help others with your opinion
        </h2>
        <a href="/community/resume/upload">
            <button class="button is-primary">Upload your CV</button>
        </a>

        <br><br>
        <hr><br><br>

        {{!-- OLD SHAIT --}}
        <div class="columns is-multiline">
            {{#each resumes}}
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <div class="columns ">
                            <div class="column is-radiusless">
                                <canvas id="{{this.originalName}}" class="canvas-pdf"></canvas>
                                <p class="title">
                                    {{this.title}}
                                </p>
                                <p>
                                    {{this.feedbackDescription}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="/community/resume/details/{{this.id}}">
                                <button class="button is-light">
                                    go to detail page!
                                </button>
                            </a>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                help needed with: {{this.feedbackTypes}}
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <script>
                pdfjsLib.getDocument('{{this.path}}')
                    .then((doc) => {
                        doc.getPage(1).then((page) => {
                            var myCanvas = document.getElementById("{{this.originalName}}")
                            var context = myCanvas.getContext("2d")

                            var viewport = page.getViewport(1);
                            myCanvas.width = viewport.width;
                            myCanvas.height = viewport.height;
                            page.render({
                                canvasContext: context,
                                viewport: viewport
                            })
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })

                function resize() {
                    $(".pdf-canvas").outerHeight($(window).height() - $(".pdf-canvas").offset().top - Math.abs($(
                        ".pdf-canvas").outerHeight(true) - $(".pdf-canvas").outerHeight()));
                }
                $(document).ready(function () {
                    resize();
                    $(window).on("resize", function () {
                        resize();
                    });
                });
            </script>
            {{/each}}
        </div>
    </div>
</section>