{{> nav}}

<div class="columns is-vcentered" style="max-width: 100vw">
    <div class="column">

    </div>

    <div class="column is-5" id="hero-column-overview" style="text-align: left;">
        <h1 id="hero-text-overview" class="title is-spaced">
            Create the best CVs together
        </h1>
        <h2 class="subtitle" style="font-size: 1.5em;">
            Receive feedback on your resume and help others
        </h2>
        <a href="/community/resume/upload">
            <button class="button is-info">Upload your CV</button>
        </a>
    </div>

    <div class="column is-6">
        <figure>
            <img id="hero-img-overview" src="/img/improve-together.png" alt="upgrade-your-cv-together">
        </figure>
    </div>

</div>

<div class="tabs is-centered" style="margin-bottom: 0px">
    <ul>
        <li id="all-sort" class="is-active"><a>All</a></li>
        <li id="web-sort" class=""><a>Webdev</a></li>
        <li id="ui-sort" class=""><a>UI/UX</a></li>
    </ul>
</div>

<section class="section has-background-white-bis">
    <div class="container">

        <div class="columns is-multiline">
            {{#each resumes}}
            <div class="column is-3"></div>

            <div class="column is-6">
                <div class="card" style="border-radius: 5px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/img/avatars/avatar-{{this.user.avatarNumber}}.svg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{this.user.firstName}} {{this.user.lastName}}</p>
                                <p class="subtitle is-6">@{{this.user.bootcamp}}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{this.feedbackDescription}}

                            <nav style="margin-top: 10px" class="level is-mobile">
                                <div class="level-left">


                                    <a class="level-item" href="/community/resume/details/{{this.id}}">
                                        <span class="icon is-small"><i class="fas fa-link"></i></span>
                                    </a>

                                    <a class="level-item" href="/community/resume/details/{{this.id}}">
                                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                    </a>

                                    {{#each this.feedbackTypes}}
                                    <a href="">#{{this}}</a>
                                    {{/each}}
                                    <br>
                                    {{!-- <time date="2016-1-1">
                                        {{this.created_at}}
                                    </time> --}}
                                </div>
                                <div class="level-right">
                                    <a class="button is-info level-item" href="/community/resume/details/{{this.id}}">
                                        show
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <hr class="hr" style="margin: 0px">

                    <div class="card-image">
                        <a href="/community/resume/details/{{this.id}}">
                            <canvas id="{{this.originalName}}" class="canvas-pdf is-shadowless">
                            </canvas>
                        </a>
                    </div>
                    <footer class="card-footer" style="margin: 0 15px">
                        <a href="#" class="card-footer-item has-text-grey" style="border: none">
                            <span class="icon ">
                                <i class="far fa-heart"></i>
                            </span>
                            <span>Like</span>
                        </a>
                        <a href="#" class="card-footer-item has-text-grey" style="border: none">
                            <span class="icon ">
                                <i class="far fa-comment-dots"></i>
                            </span>
                            <span>Comment</span>
                        </a>
                        <a href="#" class="card-footer-item has-text-grey" style="border: none">
                            <span class="icon ">
                                <i class="far fa-share-square is-dark"></i>
                            </span>
                            <span>share</span>
                        </a>
                    </footer>

                </div>
            </div>
            <div class="column is-3"></div>

            {{!-- PDF Display Script --}}
            <script>
                pdfjsLib.getDocument('{{this.path}}')
                    .then((doc) => {
                        doc.getPage(1).then((page) => {
                            var myCanvas = document.getElementById("{{this.originalName}}")
                            var context = myCanvas.getContext("2d")

                            var viewport = page.getViewport(1);
                            myCanvas.width = viewport.width;
                            myCanvas.height = viewport.height;
                            page.render({
                                canvasContext: context,
                                viewport: viewport
                            })
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })

                function resize() {
                    $(".pdf-canvas").outerHeight($(window).height() - $(".pdf-canvas").offset().top - Math.abs($(
                        ".pdf-canvas").outerHeight(true) - $(".pdf-canvas").outerHeight()));
                }
                $(document).ready(function () {
                    resize();
                    $(window).on("resize", function () {
                        resize();
                    });
                });
            </script>
            {{/each}}

        </div>
    </div>
</section>