<h2>Edit Profile</h2>

<p>all of the information</p>

<p>
  Hallo {{loggedUser._doc.firstName}}
</p>

<form action="/users/{{loggedUser.id}}/edit" method="POST">
  FirstName:<br>
  <input type="text" name="firstName" value="{{loggedUser._doc.firstName}}">
  <br>
  LastName:<br>
  <input type="text" name="lastName" value="{{loggedUser._doc.lastName}}">
  <br>
  eMail:<br>
  <input type="text" name="eMail" value="{{loggedUser._doc.eMail}}">
  <br><br>
  <button>Change</button>
</form>


<form action="logout" method="get">
  <button>Log me out</button>
</form>