{{> nav}}

<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-spaced">
        Profile
      </h1>
      <h2 class="subtitle">
        Hi <strong>{{loggedUser._doc.firstName}}</strong>, welcome to your profile page.
      </h2>
      <p class="content">
        Here you can manage your uploads, comments, and your account details
      </p>
      <hr class="hr">
      <br><br>
      <div class="columns is-variable is-3">

        {{!-- Profile Card --}}
        <div class="column is-one-third">
          <div class="card is-shadowless">
            <div class="card-content">
              <h1 class="title is-3 is-spaced">
                Details
              </h1>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="/img/avatars/avatar-{{loggedUser._doc.avatarNumber}}.svg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{loggedUser._doc.firstName}} {{loggedUser._doc.lastName}}</p>
                  <p class="subtitle is-6">@{{loggedUser._doc.bootcamp}}</p>
                </div>
              </div>
              <div class="content">
                <ul class="no-list-style">
                  <li>
                    <strong>Bootcamp Class</strong><br>
                    {{loggedUser._doc.bootcamp}}
                  </li><br>
                  <li>
                    <strong>Bio</strong> <br>
                    {{loggedUser._doc.bio}}
                  </li>
                  <li><br>
                    <strong>LinkedIn</strong><br>
                    {{loggedUser._doc.linkedin}}
                  </li>
                  <li><br>
                    <strong>E-Mail</strong><br>
                    {{loggedUser._doc.eMail}}
                  </li>
                </ul>
                <div class="button-combo" style="display: flex">
                  <form action="logout" method="get">
                    <a class="button is-primary">Logout</a>
                  </form>
                  <a href="/users/edit" class="button is-primary">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- Comment CardNew --}}
        <div class="column is-one-third">
          <div class="card is-shadowless">
            <div class="card-content">
              <h1 class="title is-3 is-spaced">
                Comments
              </h1>
              {{#each comments}}
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-left">
                    <i class="fas fa-comment has-text-dark"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <a href="/community/resume/details/{{this.resume.id}}" style="color: hsl(0, 0%, 21%); margin: 0px;">
                      <p>
                        <small>You commented on:</small> <br> <strong>{{this.resume.user.firstName}}
                          {{this.resume.user.lastName}}</strong>
                        <br><br>
                        {{this.text}}
                      </p>
                    </a>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                    </div>
                  </nav>
                </div>
                <div class="media-right">
                  <a href="/community/resume/deleteComment/{{this.id}}" class="level-item">
                    <span class="icon is-small"><i class="far fa-trash-alt"></i></span>
                  </a>
                  <a href="/community/resume/details/{{this.resume.id}}" class="level-item">
                    <span class="icon is-small"><i class="fas fa-link"></i></span>
                  </a>
                </div>
              </article>

              {{/each}}
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h1 class="title is-3 is-spaced">
                Likes
              </h1>
              {{#each loggedUser.likedResumes}}
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-left">
                    <i class="far fa-heart"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <a href="/community/resume/details/{{this.resume.id}}" style="color: hsl(0, 0%, 21%); margin: 0px;">
                      <p>
                        <small>You liked:</small> <br> <strong>{{this.title}}</strong>
                        <br>
                        #{{this.feedbackTypes}}
                      </p>
                    </a>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                    </div>
                  </nav>
                </div>
                <div class="media-right">
                  <a href="/community/resume/details/{{this.resume.id}}" class="level-item">
                    <span class="icon is-small"><i class="fas fa-link"></i></span>
                  </a>
                </div>
              </article>

              {{/each}}
            </div>
          </div>
        </div>


        {{!-- Upload Overview --}}
        <div class="column is-one-third">
          <div class="card is-shadowless">
            <div class="card-content">
              <h1 class="title is-3 is-spaced">
                Uploads
              </h1>
              {{#each resume}}
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-left">
                    <i class="fas fa-upload"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <small>You uploaded: </small> <br>
                      <strong>
                        {{this.title}}
                      </strong>
                      <br><br>
                      {{this.feedbackDescription}}
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                    </div>
                  </nav>
                </div>
                <div class="media-right">
                  <a href="/community/resume/edit/{{this.id}}" class="level-item">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                  </a>
                  <a href="/community/resume/details/{{this.id}}" class="level-item">
                    <span class="icon is-small"><i class="fas fa-link"></i></span>
                  </a>
                </div>
              </article>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>