<section class="section">
  <div class="container">
    <h1 class="title is-2">
      {{loggedUser._doc.firstName}} {{loggedUser._doc.lastName}}
    </h1>
    <p class="content">
      Welcome to your personal profile Page!
    </p>

    <ul>
      <li>
        <strong>Bootcamp Class</strong><br>
        {{loggedUser._doc.bootcamp}}
      </li><br>
      <li>
        <strong>Bio</strong> <br>
        {{loggedUser._doc.bio}}
      </li>
      <li><br>
        <strong>LinkedIn</strong><br>
          {{loggedUser._doc.linkedin}}
      </li>
      <li><br>
        <strong>E-Mail</strong><br>
          {{loggedUser._doc.eMail}}
      </li>
    </ul>
    <br>
    <form action="logout" method="get">
      <button class="button is-primary">Log out</button>
    </form>
   <br>
    <a href="/users/edit">
      <button class="button is-primary">Edit Shit</button>
    </a>
    </form>



  </div>
</section>